html {
    font-family: 'Arial MT', sans-serif;
}

.img-circle {
  width: 234px;
  height: 235px;
  margin: 0 auto;
}

.desc-team {
    max-width: 495px;
    margin: 0 auto;
}
 
a, img {
    display: inline-block;
}

@media (min-width: 320px) {
    h1.display-4 {
        font-size: 35px;
    }
        .lead {
        font-size: 20px;
    }
}

@media (min-width: 960px) {
    h1.display-4 {
        font-size: 75px;
    }
    .lead {
        font-size: 40px;
    }
}

a:hover {
    color: grey;
    text-decoration: none;
}