html {
    font-family: 'Arial MT', sans-serif;
}

.img-circle {
  width: 234px;
  height: 235px;
  margin: 0 auto;
}

.desc-team {
    max-width: 495px;
    margin: 0 auto;
}
 
a, img {
    display: inline-block;
}

h1 {
    font-size: 75px;
}

.lead {
    font-size: 40px;
}

a:hover {
    color: grey;
    text-decoration: none;
}