.header {
    background-image: url('../../images/Background_Image.png');
    background-size: cover;
    position: relative;
    background-position: top;
}

.bg-dark {
    background-color: transparent !important;
}