.section-title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.white {
    color: white;
}

.section-description {
    text-align: center;
    font-size: 16px;
    color: #777777;
}

.section-portfolio {
    background-color: #f7f7f7;
}

.section-team {
    background-color: #f7f7f7;
}

.section-contact {
  background-color: #222222;
  position: relative;
  z-index: -2;
}

.overlay-map {
    background-image: url('../../images/Map_Image.png');
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 320px) {
    .section {
        padding: 40px 0;
    }
}

@media (min-width: 960px) {
    .section {
        padding: 80px 0;
    }
}